.header {

  &__hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 5vw 0;

    &--about {
      background: url('~imagesImg/about_us.jpg');
      background-size: cover;
      background-position: center;
    }

    &--index {
      background: url('~imagesImg/illuminated-keyboard-1242287.jpg');
      background-size: cover;
      background-position: center;
    }

    div {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__hero-text {

    color: $blue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 0;
    font-size: 3.5vw;

    span {
      margin: 3px 0;
      display: block;
      background: #FFF;
      padding: 0 10px;
    }
  }

  &__hero-button {
    margin-top: 5px;
    margin-bottom: 25px;
    margin-right: 25px;
    max-width: 25vw;

    background-color: $green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1vw 0;
    font-size: 2vw;

    &:hover, :active, :focus {
      cursor: pointer;
      background-color: $darkGreen;
    }

  }
}

@media only screen and (max-width: 890px) {
  .header {
    &__hero-text {
      font-size: 5.5vw;
    }
    &__hero-button{
      font-size: 4vw;
      max-width: none;
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {
    &__hero {
      display: flex;
      justify-content: flex-end;
    }
  }
}

