.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0 20px;

    &__headline{
        flex-basis: 100%;
        color: $blue;
        font-size: 32px;
        margin: 20px 0;
    }

    &__item{
        flex-basis: 30%;
        margin: 0 5px;
        color: $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;

        &--yellow{
            background-color: $lightYellow;
        }

        &--blue{
            background-color: $lightBlue;
        }

        &--green{
            background-color: $lightGreen;
        }
    }

    &__item-headline{
        font-size: 24px;
    }

    &__item-image{
        width: 75%;
        padding: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    .services{
        a {
            padding: 40px 6vw;
        }
        img {
            width: 19vw;
            height: 19vw;
        }
    }
}


@media only screen and (max-width: 890px) {
    .services{
        flex-direction: column;
        a {
            margin: 0 12vw 2vw 12vw;
            width: 70vw;
        }
        &__item{
            margin: 12px 0;
        }

        img {
            width: 32vw;
            height: 32vw;
        }
    }
}
