*, *:after, *:before {
    box-sizing: border-box;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Slabo 13px', serif;
  }
  
  
  body {
    font-weight: normal;
    line-height: 1.5;
  }
  
  h1{
    font-size: 50px;
    margin-left: 20px;
  }