<header>
    

    <h1 class="logo"><a href="./index.html">Alex Mayer</a></h1>
<!-- header__headline -->
    <a href="#main-menu"
       id="main-menu-toggle"
       class="menu-toggle"
       aria-label="Open main menu">
        <span class="sr-only">Open main menu</span>
        <span class="fas fa-bars" aria-hidden="true"></span>
    </a>

    <nav id="main-menu" class="main-menu" aria-label="Main menu">
        <a href="#main-menu-toggle"
           id="main-menu-close"
           class="menu-close"
           aria-label="Close main menu">
            <span class="sr-only">Close main menu</span>
            <span class="fas fa-times" aria-hidden="true"></span>
        </a>
        <ul class="main-menu__nav-list">
            <li class="main-menu__list-item"><a href='./index.html'>Start</a></li>
            <li class="main-menu__list-item"><a href='#'>Leistungen</a></li>
            <li class="main-menu__list-item"><a href='#'>Blog</a></li>
            <li class="main-menu__list-item"><a href='./about.html'>Über mich</a></li>
            <li class="main-menu__list-item"><a href='#'>Kontakt</a></li>
        </ul>
    </nav>
    <a href="#main-menu-toggle"
       class="backdrop"
       tabindex="-1"
       aria-hidden="true" hidden></a>
</header>

