<header class="header">
    <h1 class="header__headline"><a href="#">Alex Mayer</a></h1>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__list-item"><a href='#'>Start</a></li>
            <li class="header__list-item"><a href='#'>Leistungen</a></li>
            <li class="header__list-item"><a href='#'>Blog</a></li>
            <li class="header__list-item"><a href='../about.html'>Über mich</a></li>
            <li class="header__list-item"><a href='#'>Kontakt</a></li>
        </ul>
    </nav>