<%= require('./partials/_head.html') %>
<body>
<%= require('./partials/_header.html') %>
<section class="header">

    <section id="hero" class="header__hero header__hero--about">
        <div>
            <h2 class="header__hero-text"><span>Glänzende Ideen</span> <span>für leuchtende</span> <span>Augen</span>
            </h2>
            <button class="header__hero-button">Angebot einholen</button>
        </div>
    </section>
</section>

<main class="max-with-container">

    <section id="about" class="about">
        <h2 class="about__headline">Über mich</h2>
        <p class="about__text">
            Seit etwas mehr als zehn Jahren bin ich von der Idee fasziniert, die Welt durch die Geschichten oder
            Ereignisse anderer Menschen zu entdecken.<br>
            Was wäre, wenn Du durch die Augen eines Demonstranten in der Ukraine sehen könntest? Oder Du könntest den
            Sonnenaufgang aus einem Heißluftballon heraus beobachten? Es mag vielleicht verrückt klingen, aber wir
            wollten etwas erschaffen, das Teleportation so nahe wie möglich kommt.<br>
            Zwar gibt es viele Möglichkeiten, um Geschichten, Ereignisse und Orte zu entdecken, uns wurde aber klar,
            dass es keine bessere Möglichkeit gibt, eine Geschichte oder Ereignis über eine Webseite zu erleben. Ein
            Bild kann mehr als tausend Worte sagen, aber Webseiten können Geschichten erzählen.
        </p>
    </section>
</main>

<%= require('./partials/_footer.html') %>
</body>
</html>
